@model CreateProductViewModel

@{
    ViewBag.Title = "Product Creation";
}
<div class="row">
    <div class="col-md-8">
        <h2>Create Product</h2>
        <form asp-controller="Product" asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label>Name</label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Price</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Category</label>
                <select asp-for="CategoryId" asp-items="@ViewBag.ListofCategry" class="form-control">
                    <option value="">Select Category</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Image</label>
                <input type="file" asp-for="UrlImage" class="form-control" />
                <span asp-validation-for="UrlImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Product" class="btn btn-primary" style="width:auto" />
            </div>
        </form>
    </div>
</div>