@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <nav class="navebar navbar-expand-sm navbar-light" style="background-color:#e3f2fd;">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon">
                </span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    Home
                </a>
              
                <ul class="navbar nav ml-auto">

                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Product" asp-action="Index">Product List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Product" asp-action="Create">Create Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Stock" asp-action="Index">Product Stock</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navberDrioDownLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage</a>
                            <div class="dropdown-menu" aria-labelledby="navberDrioDownLink">
                                <a class="dropdown-item" asp-controller="Administration" asp-action="ListOfRoles">Manage Roles</a>
                                <a class="dropdown-item" asp-controller="Administration" asp-action="ListOfUsers">Manage User</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <form method="post" asp-controller="Account" asp-action="Logout">
                                <button type="submit" style="width:auto" class="nav-link btn btn-link ">
                                    Logout
                                </button>
                            </form>

                        </li>
                    }
                    else
                    {

                        <li class="nav-item">
                            <a class="nav-pills" asp-controller="Account" asp-action="Registration">Registar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="About" asp-action="Index">About Us</a>
                        </li>

                    }

                </ul>


            </div>

        </nav>


        @RenderBody()
    </div>

    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: false)
    }

</body>
</html>
