<div>
    <h5>
        There are more than 440 million small and medium businesses in the global economy and they employ more than a billion people.
        These companies form the very heart of our society and drive economic growth.
    </h5>
    <br />
    We want to make the operations side of scaling a business easy so that business owners can focus on what they're good at: creating and selling products.
    <br />
    That is why we are on a mission: <b>to create a commerce platform that enables millions of entrepreneurs to build the business of their dreams.</b>
    <img class="img-thumbnail" src="~/Images/about-us-product.png" />
    <br />
    Access to the internet is the great equalizer, and because of this the world of commerce is undergoing seismic shifts and
    so are consumer expectations. Consumers now expect that they can buy anything, anytime, anywhere. We call this phenomenon
    “commerce everywhere” and this has put tremendous pressure on the supply chain. Not everyone will survive. Undifferentiated,
    “me too” brands and a lot of middlemen will die. But as always, the way to win is to have a strong brand identity that stands for
    something, a business that connects with and cares deeply about it’s customers, a strong operational infrastructure to support the
    business and a great end to end customer experience.
    <br /><br /><br />
    <h3>Our Founding Story:</h3>
    <br /><br />
    The company was founded in 2012 by three New Zealand entrepreneurs, brothers Cameron and Bradley Priest along with Carl Thompson, 
    who set out with a simple, yet powerful goal: to help enable every commerce entrepreneur to build and scale an amazing business. 
    The founders saw an opportunity in Southeast Asia and moved to Singapore to be incubated by the country’s premier technology 
    accelerator, JFDI. Previously running businesses ranging from retail apparel to web design, TradeGecko was born out of a frustration 
    of being unable to efficiently manage and track retail inventory and warehouse administration. The goal was to build software that 
    would power the entire backend operations of growing small and medium wholesale and eCommerce businesses empowering them to become 
    as fast and efficient as the world’s biggest online stores. And to do it with software that was elegant, integrated, and easy to use.

</div>